body {
    background-color: var(--primary-background-color);
}

.container {
	max-width:65%;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    min-height: 85vh;
    margin-bottom: 10px;
}

.body_television_ecran {
    overflow: hidden;
}

.row {
    margin: 0;
}

h1, h2, h3 ,h4, h5, h6 {
    color: var(--primary-title-color);
}

a, a:hover, a:link, a:active {
    color: var(--primary-link-color);
}

a:hover {
    text-decoration: underline;
}

.button_presentation_ecran {
    border-color: var(--primary-button-border-color);
    color: var(--primary-button-color);
}

td {
	font-weight:bold;
}

h1 {
	font-size:2rem;
}