/* HEADER */
.nav_ecran {
    position: sticky;
    top: 0;
    background-color: #1F63DE;
    margin-bottom: 10px;
    min-height: 5vh;
    width: 100%;
	padding: 10px;
    position: static;
}

.logo {
    width: 30px;
    height: 30px;
}

.logo_ecran {
    width: auto;
    height: 8vh;
}
