body,  .container {
    --primary-background-color: #f2eff2;
    --secondary-background-color: white;
}

.footer_ecran, .nav_ecran {
    --primary-layout-background-color: #1F63DE;
    --primary-layout-color: #ffffff;
}



h1, h2, h3 ,h4, h5, h6 {
    --primary-title-color: #1F63DE;
}

a, a:hover, a:link, a:active {
    --primary-link-color:  #00558b;
}

.button_presentation_ecran {
    --primary-button-border-color:  #1F63DE;
    --primary-button-color:  #1F63DE;
}

.sidebar {
    --primary-sidebar-color: white;
}
